@model List<Product.Models.Entities.Product>
@{
    ViewBag.Title = "OrderDetials";
}

<h2>OrderDetials</h2>
<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>Product Name</th>
        <th>Quantity</th>
        <th>Price</th>
    </tr>
    @foreach (var p in Model)
    {
        <tr>
            <td>@p.Id</td>
            <td>@p.Name</td>
            <td>@p.Quantity</td>
            <td>@p.Price</td>
        </tr>
    }

</table><br />
<a href="/Admin/OrderList" class="btn btn-primary">Back</a>
