
@{
    ViewBag.Title = "Bio";
}

<h2>Bio</h2>
<fieldset style="border-style: none">
    <legend>Career Objective</legend>
    <p>
        Ingenious, Strenuous, and efficacious Software Engineer offering three years of proficiency
        in Software development using .Net and JS. With a skillful background in Software
        development lifecycle. Exceptional capacity to grasp new things, assimilate new ideas efficiently
        and master’s new technologies while working in both dynamic team and self-directed settings.
    </p>
</fieldset>
<br />

<fieldset>
    <legend>Skills</legend>
    <div>
        <div style="float:left">
            <ul>
                <li>.Net Development.</li>
                <li>Python.</li>
                <li>SQLi.</li>
                <li>Oracle SQL Developer.</li>
            </ul>
        </div>
        <div style="display: inline-block; margin-left: 100px">
            <ul>
                <li>C++.</li>
                <li>PHP, JavaScript, CSS & HTML.</li>
                <li>Java.</li>
                <li>UI/UX.</li>
            </ul>
        </div>
    </div>
</fieldset>
<br />

<fieldset>
    <legend>Interest</legend>
    <ul>
        <li>Travling.</li>
        <li>Watching Movies.</li>
        <li>Gaming.</li>
        <li>Cricket.</li>
    </ul>
</fieldset>
<br />

<fieldset>
    <legend>Personal Information</legend>
    <table>
        <tr>
            <td>
                Name
            </td>
            <td>
                &nbsp;:&nbsp;&nbsp;&nbsp;
            </td>
            <td>
                Md. Mohimen Molla
            </td>
        </tr>
        <tr>
            <td>
                Father's Name
            </td>
            <td>
                &nbsp;:&nbsp;&nbsp;&nbsp;
            </td>
            <td>
                Nazmul Hasan
            </td>
        </tr>
        <tr>
            <td>
                Mother's Name
            </td>
            <td>
                &nbsp;:&nbsp;&nbsp;&nbsp;
            </td>
            <td>
                Shahina Begum
            </td>
        </tr>
        <tr>
            <td>
                Age
            </td>
            <td>
                &nbsp;:&nbsp;&nbsp;&nbsp;
            </td>
            <td>
                23 years old
            </td>
        </tr>
        <tr>
            <td>
                Date of Birth
            </td>
            <td>
                &nbsp;:&nbsp;&nbsp;&nbsp;
            </td>
            <td>
                04-10-1999
            </td>
        </tr>
        <tr>
            <td>
                Nationality
            </td>
            <td>
                &nbsp;:&nbsp;&nbsp;&nbsp;
            </td>
            <td>
                Bangladeshi
            </td>
        </tr>
        <tr>
            <td>
                Blood Group
            </td>
            <td>
                &nbsp;:&nbsp;&nbsp;&nbsp;
            </td>
            <td>
                A+
            </td>
        </tr>
    </table>
</fieldset>
<br />
