
@{

    ViewBag.Title = "Education";
}

<h2>Education</h2>
<fieldset>
    <legend>Education</legend>
    <table>
        <tr>
            <td>
                <b> 2019 - 2022</b>
            </td>
            <td>
                &nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;
            </td>
            <td>
                <b>Bachelor of Science: Computer Science & Engineering</b><br />
                American International University of Bangladesh | Kuril, Dhaka
                CGPA: 3.89 (on a scale of 4)
            </td>
        </tr>

        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>

        <tr>
            <td>
                <b>2016 - 2018</b>
            </td>
            <td>
                &nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;
            </td>
            <td>
                <b>Higher Secondary School Certificate – HSC</b><br />
                Shaheed Ramiz Uddin Cantonment College | MES, Dhaka
                GPA: 4.25 (on a scale of 5)
            </td>
        </tr>

        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>

        <tr>
            <td>
                <b>2005 - 2016</b>
            </td>
            <td>
                &nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;
            </td>
            <td>
                <b>Secondary School Certificate – SSC</b><br />
                Kurmitola High School & College | Khilkhet, Dhaka
                GPA: 4.83 (on a scale of 5)
            </td>
        </tr>
    </table>
</fieldset>

