
@{
    ViewBag.Title = "Projects";
}

<h2>Projects</h2>
<fieldset>
    <legend>University Management System - [JAVA]</legend>
    <ul>
        <li>
            For managing students & faculty of university.
        </li>
        <li>
            For register course for new semester.
        </li>
    </ul>
</fieldset>

<fieldset>
    <legend>Tutor Finder - [Software Engineering]</legend>
    <ul>
        <li>
            For finding tutors.
        </li>
        <li>
            Interesting features.
        </li>
    </ul>
</fieldset>

<fieldset>
    <legend>Superstore Management System - [.Net]</legend>
    <ul>
        <li>
            The Superstore Management System is a system that handles all aspects of the effective
            supervision of a superstore.
        </li>
        <li>
            These aspects include handling product information, employees,
            managers, billing, adding goods to inventory, and others.
        </li>
        <li>
            This system allows for the effective
            management of Superstore data. The consumer can also buy and pay for the things they've
            chosen.
        </li>
    </ul>
</fieldset>

<fieldset>
    <legend>E-commerce site - [Web Technology]</legend>
    <ul>
        <li>
            For buying & selling products.
        </li>
    </ul>
</fieldset>
