
@{
    ViewBag.Title = "Reference";
}

<h2>Reference</h2>

<fieldset>
    <legend>Reference</legend>

    <p>
        Ismail Hossain Rony<br />
        Chief Accountant | TG Logistics (BD) Ltd<br />
        Mobile: +8801881-466087<br />
        Email: farajiismailtgl@gmail.com
    </p><br />

    <p>
        Rafi Mahadi Shuvo<br />
        Chief Excutive Officer | TigerIT LTD<br />
        Mobile: +8801997-164227<br />
        Email: rafimahaditit@gmail.com
    </p>


</fieldset>

